In [3]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
%matplotlib inline
from utils.Google_api import get_google_results as gegor
from utils.fix_row import fix_row

In [6]:
# Importing the dataset
data = pd.read_excel('../Data/datathon_data.xlsx',)
# Still the data is pretty bad

In [7]:
# Taking only the column names
column_names = [n for n in data.columns[0].split('|')]
column_names[0] = 'cust_id_token'

#Building a dataframe
data = [[n for n in string[0].split('|')] for string in data.values]
data = pd.DataFrame(data, columns= column_names)
data.head()

,cust_id_token,current_address3,current_city,current_state,current_pin_code,permanent_address3,permanent_city,permanent_state,permanent_pin_code
0,1,,JAMBI,INDONESIA,36126,,CHENNAI,TAMIL NADU,600029
1,2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,,LONDON,MIDDLE SEX,HA047H
2,3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207
3,4,,DUBAI,DUBAI,18582,,BARODA,GUJARAT,390007
4,5,,SIRSA,HARYANA,125055,,SIRSA,HARYANA,125055

In [11]:
# api_key Ex: = 'AIzaSyBlHxjuSsLQkwdzGn-Y6kDky00ha9Oy'
# Note the above api is incorrect, enter your own api_key for running the code!!
api_key = None
ex_address = 'Badi Sadak'
result = gegor(ex_address,api_key,False)
result

{'formatted_address': 'Badi Sadak, Jalna, Maharashtra 431203, India',
 'latitude': 19.8546518,
 'longitude': 75.90204539999999,
 'accuracy': 'APPROXIMATE',
 'google_place_id': 'ChIJSfP7tf1Z2jsR2Z12ARdkAy0',
 'type': 'political,sublocality,sublocality_level_1',
 'postcode': '431203',
 'input_string': 'Badi Sadak',
 'number_of_results': 1,
 'status': 'OK'}

In [7]:
for row, values_list in enumerate(data.values):
    data.iloc[row][1:] = fix_row(values_list[1:])
data.head()

,cust_id_token,current_address3,current_city,current_state,current_pin_code,permanent_address3,permanent_city,permanent_state,permanent_pin_code
0,1,,JAMBI,INDONESIA,36126,,CHENNAI,TAMIL NADU,600029
1,2,INJAMBAKKAM,CHENNAI,TAMIL NADU,600115,,LONDON,MIDDLE SEX,
2,3,ROODEPOORT,JOHANNESBURG,GAUTENG,2169,MANDIR RMC GARDEN,PUNE,MAHARASHTRA,412207
3,4,,DUBAI,DUBAI,18582,,BARODA,GUJARAT,390007
4,5,,SIRSA,HARYANA,125055,,SIRSA,HARYANA,125055

In [20]:
# The last address column that is the current state column doesn't seems to be much useful

curr_lat, curr_long, perm_lat, perm_long = [],[],[],[]
count = 0
for row in data.values:
    if count%20==0:
        print(str(count)+ 'out of '+data.shape[0]+' done...')
    address_curr = ' '.join(row[1:4])
    address_perm = ' '.join(row[4:])
    
    print_extra_info = False
    
    curr_add_results = gegor(address_curr, api_key, print_extra_info)
    perm_add_results = gegor(address_perm, api_key, print_extra_info)
    
    curr_lat.append(curr_add_results['latitude'])
    curr_long.append(curr_add_results['longitude'])
    
    perm_lat.append(curr_add_results['latitude'])
    perm_long.append(curr_add_results['longitude'])

In [23]:
data['Curr_add_lat'] = curr_lat
data['Curr_add_long'] = curr_long
data['Perm_add_lat'] = perm_lat
data['Perm_add_long'] = perm_long

In [26]:
data.to_csv('../Data/Data_with_logits.csv', index=False)

In [27]:
curr_add_results = gegor('CHENNAI TAMIL NADU 60029', api_key, print_extra_info)
curr_add_results

{'formatted_address': 'Chennai, Tamil Nadu, India',
 'latitude': 13.0826802,
 'longitude': 80.2707184,
 'accuracy': 'APPROXIMATE',
 'google_place_id': 'ChIJYTN9T-plUjoRM9RjaAunYW4',
 'type': 'locality,political',
 'postcode': '',
 'input_string': 'CHENNAI TAMIL NADU 60029',
 'number_of_results': 2,
 'status': 'OK'}